
@*Footerr*@

<div class="card text-bg-secondary  " style="height:40%; padding-right: 0%;">
    <div class="foott row g-3" role="group" aria-label="Basic example" style="padding-top: 5%;">
        <div class="duzenleme"></div>
        <div class="col-md-2" style="padding-right:5% ;">
            <label class="baslikfooter" style="padding-left: 10%;"><img src="" alt=""><b>OnlineDanışman</b></label>
        </div>
        <div class="col-md-2">
            <ul class="list-group ">
                <li class="list-group"> <b class=" mb-3" style="color:gainsboro"><small>ONLİNE DANIŞMAN</small></b></a></li>
                <li class="list-group text-white mb-1"><a class="link text-white" href="hakkimizda.htm">Biz Kimiz</a></li>
                <li class="list-group text-white mb-1"><a class="link text-white" href="hakkimizda.htm"> Kariyer</a></li>
                <li class="list-group text-white mb-1"> <a class="link text-white" href="hakkimizda.htm"> İletişim</a></li>
                <li class="list-group text-white"><a class="link text-white" href="hakkimizda.htm">Sen de OnlineDanışman'a Katıl!</a> </li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="list-group ">
                <li class="list-group"> <b class=" mb-3" style="color:gainsboro"><small>GÖNÜLLÜ DANIŞMAN OL</small></b></a></li>
                <li class="list-group text-white mb-1"><a class="link text-white" href="hakkimizda.htm">Psikolog Gönüllü Danışmanı</a></li>
                <li class="list-group text-white mb-1"><a class="link text-white" href="hakkimizda.htm">Eğitim Koçu Gönüllü Danışmanı</a></li>
                <li class="list-group text-white"><a class="link text-white" href="hakkimizda.htm"> Diyetisyen Gönüllü Danışmanı</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="list-group ">
                <li class="list-group"> <b class=" mb-3" style="color:gainsboro"><small>YARDIM</small></b></a></li>
                <li class="list-group text-white mb-1"><a class="link text-white" href="hakkimizda.htm"> Sıkça Sorulan Sorular</a></li>
                <li class="list-group text-white mb-1"><a class="link text-white" href="hakkimizda.htm"> Canlı Yardım</a></li>
                <li class="list-group text-white"><a class="link text-white" href="hakkimizda.htm">Nasıl İşliyor?</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="list-group ">
                <li class="list-group"> <b class=" mb-1" style="color:gainsboro"><small>ÖDEME İŞLEMLERİ</small></b></a></li>
                <li class="list-group text-white "><img style="height: 7rem; width: 7.6rem; " src="/PsikologWebSitesi/visa.png"></li>
                <li class="list-group text-white "><img style="height: 4rem; width: 4.6rem; margin-left: 12%;" src="/PsikologWebSitesi/mastercardd.png"></li>
            </ul>
        </div>
        <div class="col-md-2 " style="margin-top: 6%;">
            <a href="#" class="link text-white"> <i class="fa-brands fa-instagram fa-2x " style="margin-right: 1rem;"></i></a>
            <a href="#" class="link text-white"><i class="fa-brands fa-square-twitter fa-2x" style="margin-right: 1rem;"></i></a>
            <a href="#" class="link text-white"><i class="fa-brands fa-square-youtube fa-2x"></i></a>
        </div>

        <!-- <div class="foot bg-secondary" style="width:100%; margin-bottom: 0%; padding-top: 5%;"> -->
        <footer style="padding-top:7%;">
            <ul class="list-inline">
                <li class=" list-inline-item text-white" style="margin-left: 5%;">
                    <small>
                        <a class="link text-white"
                           href="#">Yasal</a>
                    </small>
                </li>
                <li class=" list-inline-item text-white " style="margin-right:30%; margin-left: 3%;">
                    <small>
                        <a class="link text-white"
                           href="#">Gizlilik</a>
                    </small>
                </li>
                <li class="list-inline-item text-white">
                    <small>
                        Copyright © RuhTerapistim 2022.Tüm hakları
                        saklıdır.
                    </small>
                </li>
            </ul>
        </footer>
        <!-- </div> -->
    </div>
</div>