
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserLayout</title>
</head>
BURASI LAYOUTTUR
<body>
    NEDEN CALISMIYORSUNNN
   
</body>
</html>
@RenderBody()